@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: poppins, sans-serif;
  font-size: 15px;
  background-color: var(--Very-Light-Gray);
  color: var(--Grayish-Blue);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}

.top {
  text-align: center;
}

.top h1 {
  font-size: 34px;
  color: var(--Very-Dark-Blue);
  font-weight: 200;
}

.top h2 {
  font-size: 34px;
  color: var(--Very-Dark-Blue);
}

.top p {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 30px;
  text-align: right;
  box-shadow: 5px 5px 10px hsl(234, 12%, 34%, 20%);
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box-text {
  text-align: left;
}

.box-text h3 {
  font-size: 20px;
  color: var(--Very-Dark-Blue);
  margin-bottom: 1rem;
}

.box-text p {
  margin-bottom: 30px;
}

.supervisor {
  border-top: 4px solid var(--Cyan);
}

.team-builder {
  border-top: 4px solid var(--Red);
}

.karma {
  border-top: 4px solid var(--Orange);
}

.calculator {
  border-top: 4px solid var(--Blue);
}

.supervisor,
.calculator {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .top h1,
  .top h2 {
    font-size: 24px;
  }

  .top p {
    font-size: 14px;
  }

  .card {
    padding: 20px;
  }

  .card p,
  .card h3 {
    margin-bottom: 0.5rem;
  }
}
